<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-12 text-center">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.png" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- <div class="row"> -->
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sobre mim</h2>
                    <h3 class="section-subheading text-muted">TH'OVEN é o alter ego musical do produtor e DJ Alexandre Sequeira, natural de Viseu. Lançou-se como DJ, ainda adolescente, com a missão de espalhar uma maior diversidade no mundo musical e sempre interessou-se pela música eletrónica devido à sua misticidade. 
                        De forma autodidata começou a mergulhar no mundo da produção musical, aprofundando os seus conhecimentos na técnica rítmica, manipulação de sintetizadores, sampling, mistura e masterização.
                                        
                        Em 2021 participou nos Jardins efémeros onde realizou o workshop "Primeiros passos na música eletrónica". Participou numa aula “Mixing in Ableton” com Pedro Serraninho.
                        Em Abril de 2022, lançou o seu primeiro albúm intulado "Primeiro é para os Pardais" e foi o responsável pela construção da banda sonora para o Teatro O Bando - “Transumanar” na apresentação das confrarias. Certificou-se em”The Technology of Music Production” um curso providenciado pela Berklee College of Music. 
                        Em Julho de 2022 realizou um workshop “Música sem fronteiras” para os Jardins efémeros.</h3>
                </div>
            <!-- </div> -->
        </div>
    </section>