<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">Upcoming music</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Morphing into plants</h2>
                    <h3 class="section-subheading text-muted">
                        </h3>
                </div>
            </div>

            <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1430366194%3Fsecret_token%3Ds-tlfdif0r2IB&color=%23a13d7a&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/th_oven" title="TH&#x27;OVEN" target="_blank" style="color: #cccccc; text-decoration: none;">TH&#x27;OVEN</a> · <a href="https://soundcloud.com/th_oven/sets/transumanar-jardins-efemros/s-tlfdif0r2IB" title="TRANSUMANAR" target="_blank" style="color: #cccccc; text-decoration: none;">TRANSUMANAR</a></div>
            <br></br>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">House music</h2>
                    <h3 class="section-subheading text-muted">
                        Welcome to the ride over the world of House, Nu-disco, French house, and basslines to break your neck.
                        
                        Produced, Mixed, and Mastered by TH'OVEN.</h3>
                </div>
            </div>
            
            <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1379033125%3Fsecret_token%3Ds-22avmdvAUW1&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/th_oven" title="TH&#x27;OVEN" target="_blank" style="color: #cccccc; text-decoration: none;">TH&#x27;OVEN</a> · <a href="https://soundcloud.com/th_oven/sets/catharsis_notes_included/s-22avmdvAUW1" title="CATHARSIS" target="_blank" style="color: #cccccc; text-decoration: none;">CATHARSIS</a></div>

            <br></br>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">New joy era</h2>
                    <h3 class="section-subheading text-muted">

                    An album that mainly features deep and orchestral atmos and trying to add vocals from artists that I love on top of the music or using emvoice vst.
                    Added the vocals so I could understand how should I create space for vocals and new ways to create new sections in a piece of music.

                    Artwork generated by AI.
                    </h3>
                </div>
            </div>
            <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1524568897%3Fsecret_token%3Ds-wgO98IY8Gib&color=%23cab779&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/th_oven" title="TH&#x27;OVEN" target="_blank" style="color: #cccccc; text-decoration: none;">TH&#x27;OVEN</a> · <a href="https://soundcloud.com/th_oven/sets/new-joy-era/s-wgO98IY8Gib" title="NEW JOY ERA" target="_blank" style="color: #cccccc; text-decoration: none;">NEW JOY ERA</a></div>
         

            <br></br>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Morphing into plants</h2>
                    <h3 class="section-subheading text-muted">
                        </h3>
                </div>
            </div>

            <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1535555581%3Fsecret_token%3Ds-bgdOkNbpl2K&color=%23363432&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/th_oven" title="TH&#x27;OVEN" target="_blank" style="color: #cccccc; text-decoration: none;">TH&#x27;OVEN</a> · <a href="https://soundcloud.com/th_oven/sets/vp0r/s-bgdOkNbpl2K" title="$V@p0r" target="_blank" style="color: #cccccc; text-decoration: none;">$V@p0r</a></div>
            <br></br>

            <!-- <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">vendemos carrinhos de compras</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">minamos bitcoins em magalhaes</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">vendemos cadeados sem chaves</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div> -->
        </div>
    </section>