<!-- Services Section -->
    <section id="services">
        <div class="container">

            <div class="row">
                <div class="col-lg-20 text-center">
                    <h1 class="section-heading"> • Repertório musical • </h1>
                    <h3 class="section-subheading text-muted">
                       Criações mais recentes: NEW JOY ERA.
                    </h3>
                    <h3 class="section-subheading text-muted">
                        EP colaborativo: Inside the moutain
                     </h3>
                </div>
            </div>

            <br></br>

            <!-- ------------------------------------------------------------------------------ MORPHING PLANTS ------------------------------------------------------------------------------------------- -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Morphing into plants</h2>
                    <h3 class="section-subheading text-muted">
                        A composição sonora foi construída usando um sintetizador inspirado nas plantas e nos seus padrões fractais. O crescimento das árvores, onde cada ramo representa um ressonador com diferentes valores de frequência e amplitude. 
                        </h3>
                </div>
                <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1430366194%3Fsecret_token%3Ds-tlfdif0r2IB&color=%23f46cb4&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/th_oven" title="TH&#x27;OVEN" target="_blank" style="color: #cccccc; text-decoration: none;">TH&#x27;OVEN</a> · <a href="https://soundcloud.com/th_oven/sets/transumanar-jardins-efemros/s-tlfdif0r2IB" title="TRANSUMANAR" target="_blank" style="color: #cccccc; text-decoration: none;">TRANSUMANAR</a></div>

            </div>
            <br></br>

            <!-- ------------------------------------------------------------------------------ HOUSE ------------------------------------------------------------------------------------------- -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Catharsis</h2>
                    <h3 class="section-subheading text-muted">
                        Welcome to the ride over the world of House, Nu-disco, French house, and basslines to break your neck.
                        
                        Produced, Mixed, and Mastered by TH'OVEN.</h3>
                </div>
            </div>
            <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1379033125%3Fsecret_token%3Ds-22avmdvAUW1&color=%2398904e&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/th_oven" title="TH&#x27;OVEN" target="_blank" style="color: #cccccc; text-decoration: none;">TH&#x27;OVEN</a> · <a href="https://soundcloud.com/th_oven/sets/catharsis_notes_included/s-22avmdvAUW1" title="CATHARSIS" target="_blank" style="color: #cccccc; text-decoration: none;">CATHARSIS</a></div>
            <br></br>

            <!-- ------------------------------------------------------------------------------ NEW JOY ERA ------------------------------------------------------------------------------------------- -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">New joy era</h2>
                    <h3 class="section-subheading text-muted">

                    An album that mainly features deep and orchestral atmos and trying to add vocals from artists that I love on top of the music or using emvoice vst.
                    Added the vocals so I could understand how should I create space for vocals and new ways to create new sections in a piece of music.

                    Artwork generated by AI.
                    </h3>
                </div>
            </div>
            <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1524568897%3Fsecret_token%3Ds-wgO98IY8Gib&color=%23cab779&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/th_oven" title="TH&#x27;OVEN" target="_blank" style="color: #cccccc; text-decoration: none;">TH&#x27;OVEN</a> · <a href="https://soundcloud.com/th_oven/sets/new-joy-era/s-wgO98IY8Gib" title="NEW JOY ERA" target="_blank" style="color: #cccccc; text-decoration: none;">NEW JOY ERA</a></div>
            <br></br>

            <!-- ------------------------------------------------------------------------------ INSIDE THE MOUNTAINS ------------------------------------------------------------------------------------------- -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"> Inside the mountains </h2>
                    <h3 class="section-subheading text-muted">
                    Collaborative EP with Silvia Duarte (piano player) and Leno in lato (also piano player from the band "O Marta" and "Bang Avenue").  </h3>
                </div>
            </div>

            <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1535959222%3Fsecret_token%3Ds-EZurIYUjOoR&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/th_oven" title="TH&#x27;OVEN" target="_blank" style="color: #cccccc; text-decoration: none;">TH&#x27;OVEN</a> · <a href="https://soundcloud.com/th_oven/sets/inside-the-mountain/s-EZurIYUjOoR" title="Inside the mountain" target="_blank" style="color: #cccccc; text-decoration: none;">Inside the mountain</a></div>
                <br></br>

            <!-- ------------------------------------------------------------------------------ eletro ------------------------------------------------------------------------------------------- -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"> $V@p0r </h2>
                    <h3 class="section-subheading text-muted">
                    List of musics that alowed the morphing string + metalic bass, beep boops, IDM, metal samples and new sampling techniques. </h3>
                </div>
            </div>

            <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1535555581%3Fsecret_token%3Ds-bgdOkNbpl2K&color=%23363432&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/th_oven" title="TH&#x27;OVEN" target="_blank" style="color: #cccccc; text-decoration: none;">TH&#x27;OVEN</a> · <a href="https://soundcloud.com/th_oven/sets/vp0r/s-bgdOkNbpl2K" title="$V@p0r" target="_blank" style="color: #cccccc; text-decoration: none;">$V@p0r</a></div>
            <br></br>

        </div>
    </section>